{
    "$schema": "https://www.schemastore.org/prettierrc.json",
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "experimentalOperatorPosition": "start",
    "experimentalTernaries": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none"
}
